<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.takenotes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewActivity"></activity>
        <activity
            android:name=".model.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".model.ImageActivity" />
        <activity android:name=".profile" />
        <activity
            android:name=".splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.Register" />
        <activity android:name=".auth.Login" />
        <activity
            android:name=".Note.editnote"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Note.AddNotes"
            android:label="@string/title_activity_add_notes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model.NoteDetails"
            android:label="@string/title_activity_note_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>